.pagination {
  flex-direction: row;
  overflow-x: scroll;
}

.number-information {
  text-align: end;
  color: var(--secondary-color);
  font-size: 11pt;
}

.select-information {
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.select-wrapper {
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
}

.select-page {
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.page-button {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: var(--border);
  color: var(--secondary-color);
  background: transparent;
  transition: background 0.3s ease;
}

.page-button:hover {
  background: var(--primary-color-hover);
}

.page-button:disabled {
  color: var(--secondary-color-disabled);
}

.page-button:disabled:hover {
  background: transparent;
  cursor: auto;
}

select {
  background: transparent;
  height: 2rem;
  padding: 0 0.5rem;
  cursor: pointer;
  color: var(--secondary-color);
  border: var(--border);
  border-radius: 0.5rem;
  transition: background 0.3s ease;
}

select:hover {
  background: var(--primary-color-hover);
}

.chevrons {
  width: 1rem;
  height: 1rem;
}
