.pagination {
  flex-direction: row;
  overflow-x: scroll;
}

.number-information {
  text-align: end;
}

.select-information {
  justify-content: flex-end;
  width: 100%;
  flex-direction: row;
  gap: 0.5rem;
}
