.back-button {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: var(--primary-border);
  color: var(--secondary-color);
  background: transparent;
  transition: background 0.3s ease;
}

.back-button:hover {
  background: var(--primary-color-hover);
}

.arrow-left {
  width: 1rem;
  height: 1rem;
}

.page-container {
  gap: 1rem;
  flex: 1;
}
