table {
  overflow-x: scroll;
  border-collapse: collapse;
  color: var(--secondary-color);
  font-size: 11pt;
}

.table-container {
  border: var(--primary-border);
  border-radius: 0.5rem;
}

thead {
  padding: 1rem;
  font-weight: 600;
}

.tr-data {
  border-top: var(--primary-border);
  transition: background 0.3s ease;
}

.tr-data:hover {
  background: var(--primary-color-hover);
  cursor: pointer;
}

th,
td {
  padding: 1rem;
  text-align: start;
}

td:hover {
  background: transparent;
}

.search-input {
  padding: 1rem;
  height: 2rem;
  background: transparent;
  color: var(--secondary-color);
  border-radius: 0.5rem;
  border: var(--primary-border);
}

.search-input::placeholder {
  color: var(--secondary-color-disabled);
}

.table-contents {
  gap: 1rem;
}

.search-container {
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.search-button {
  cursor: pointer;
  border-radius: 0.5rem;
  border: var(--primary-border);
  color: var(--secondary-color);
  background: transparent;
  transition: background 0.3s ease;
  height: 2rem;
  padding: 0.75rem;
}

.search-button:hover {
  background: var(--primary-color-hover);
}

.search-button:disabled {
  color: var(--secondary-color-disabled);
}

.search-button:disabled:hover {
  background: transparent;
  cursor: auto;
}

.clear-button {
  color: var(--secondary-color);
  cursor: pointer;
  font-size: 10pt;
}

.clear-button:hover {
  color: var(--primary-color-disabled);
  color: var(--secondary-color-disabled);
}

.search-bar {
  flex-direction: row;
  justify-content: space-between;
  height: 2rem;
}

.date-input {
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.date-label {
  color: var(--secondary-color);
  font-size: 10pt;
}

.date-select {
  height: 100%;
  background: var(--primary-color);
}

.date-select-label {
  position: absolute;
  background: var(--primary-color);
  height: 0.9rem;
  padding: 0.1rem 0.2rem;
  top: -0.5rem;
  left: 0.5rem;
  font-size: 7pt;
  color: var(--secondary-color);
}

.date-selectors {
  flex-direction: row;
  height: 2rem;
  gap: 0.5rem;
}

@media (max-width: 58rem) {
  .search-bar {
    flex-direction: column;
    height: auto;
    gap: 1rem;
  }

  .date-input {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 22rem) {
  .search-container {
    flex-direction: column;
    align-items: flex-start;
  }
}
