@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: #1e3a8a;
  --primary-color-hover: #1e40af;
  --primary-color-disabled: rgba(30, 58, 138, 0.25);
  --primary-border: 0.1rem solid var(--secondary-color-disabled);
  --secondary-color: #f4f4f5;
  --secondary-color-hover: #e4e4e7;
  --secondary-color-disabled: rgba(249, 250, 251, 0.25);
  --secondary-border: 0.1rem solid var(--primary-color-disabled);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  outline: none;
}

div {
  position: relative;
  display: flex;
  flex-direction: column;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h3,
span {
  color: var(--secondary-color);
}

#root {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  background: var(--primary-color);
  overflow: auto;
}
