:root {
  --primary-color: #ef4444;
  --secondary-color: #f8fafc;
  --primary-color-hover: #dc2626;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  position: relative;
  display: flex;
  flex-direction: column;
}

#root {
  width: 100%;
  height: 100%;
  padding: 1rem;
}
